<div class="database-explore">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title" id="help-title">Database Exploration</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Database Kind</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div id="dbKind" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Query Source</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div id="dbPerm" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div x-mojo-element="Button" id="queryButton"></div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
