<div class="keystore-explore">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
			<div class="icon" id="icon"></div>
			<div class="title" id="help-title">Key Store Exploration</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Key Kind</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div id="keystoreKind" x-mojo-element="BetterListSelector"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div x-mojo-element="Button" id="showButton"></div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
