<div class="overrides">
	
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
  <div class="palm-page-header">
    <div class="palm-page-header-wrapper">
      <div class="icon" id="icon"></div>
      <div class="title" id="title">Overrides</div>
    </div>
  </div>
	
  <div class="palm-group" id="newOverride">
    <div class="palm-group-title" id="new-override-title">New Override</div>
    <div class="palm-list">
				
      <div class="palm-row first">
	<div class="palm-row-wrapper">
	  <div id="newName" x-mojo-element="ListSelector"></div>
	</div>
      </div>
      
      <div class="palm-row">
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
	  <div class="title">
	    <div class="label" id="new-override-value">Value</div>
	    <div id="newValue" x-mojo-element="TextField"></div>
	  </div>
	</div>
      </div>
      
      <div class="palm-row last">
	<div class="palm-row-wrapper">
	  <div id="newButton" x-mojo-element="Button"></div>
	</div>
      </div>
      
    </div>
  </div>
  
  <div class="palm-group">
    <div class="palm-group-title" id="overrides-title">Current Overrides</div>
    <div class="palm-list" id="overridesList" x-mojo-element="List">
    </div>
  </div>
	
  <div id="clearButton" x-mojo-element="Button"></div>

  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
  <div class="palm-scrim" id="overlay">
    <div class="spinner" id="spinner" x-mojo-element="Spinner"></div>
  </div>

</div>
