<div class="activation">
	
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

  <div class="palm-page-header">
    <div class="palm-page-header-wrapper">
      <div class="icon" id="icon"></div>
      <div class="spinner" id="spinner" x-mojo-element="Spinner"></div>
      <div class="title" id="title">Activation</div>
    </div>
  </div>
	
  <div class="palm-group">
    <div class="palm-group-title" id="email-title">Email Address</div>
    <div class="palm-list">
			
      <div class="palm-row single">
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
	  <div class="title">
	    <div id="emailInputField" x-mojo-element="TextField"></div>
	  </div>
	</div>
      </div>
      
    </div>
  </div>
	
  <div x-mojo-element="Button" id="emailAvailableButton"></div>
	
  <div x-mojo-element="Button" id="deviceInUseButton"></div>
	
  <div class="palm-group">
    <div class="palm-group-title" id="password-title">Password</div>
    <div class="palm-list">
			
      <div class="palm-row single">
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
	  <div class="title">
	    <div id="passwordInputField" x-mojo-element="TextField"></div>
	  </div>
	</div>
      </div>
      
    </div>
  </div>
	
  <div x-mojo-element="Button" id="authenticateFromDeviceButton"></div>
	
  <div class="palm-group">
    <div class="palm-group-title" id="device-model-title">Device Profile</div>
    <div class="palm-list">
			
      <div class="palm-row first">
	<div id="deviceModelSelector" x-mojo-element="ListSelector"></div>
      </div>
      
      <div class="palm-row">
	<div id="carrierSelector" x-mojo-element="ListSelector"></div>
      </div>
      
      <div class="palm-row">
	<div id="languageSelector" x-mojo-element="ListSelector"></div>
      </div>
      
      <div class="palm-row last">
	<div id="countrySelector" x-mojo-element="ListSelector"></div>
      </div>
      
    </div>
  </div>
	
  <div x-mojo-element="Button" id="createDeviceAccountButton"></div>
	
  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
