<div class="app-data-explore">
  
  <div class="palm-page-header">
    <div class="palm-page-header-wrapper">
      <div class="icon" id="icon"></div>
      <div class="spinner" id="spinner" x-mojo-element="Spinner"></div>
      <div class="title" id="title">App Database Exploration</div>
    </div>
  </div>
  
  <div class="palm-group">
    <div class="palm-group-title">Application</div>
    <div class="palm-list">
      
      <div class="palm-row single">
	<div class="palm-row-wrapper">
	  <div id="appId" x-mojo-element="BetterListSelector"></div>
	</div>
      </div>
      
    </div>
  </div>
  
  <div class="palm-group">
    <div class="palm-group-title">Database Name</div>
    <div class="palm-list">
      
      <div class="palm-row single">
	<div class="palm-row-wrapper">
	  <div id="dbName" x-mojo-element="ListSelector"></div>
	</div>
      </div>
      
    </div>
  </div>
  
  <div x-mojo-element="Button" id="showButton"></div>
  
</div>
