<div class="palm-profile">
	
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

  <div class="palm-page-header" id="header">
    <div class="palm-page-header-wrapper">
      <div class="icon" id="icon"></div>
      <div class="title" id="title">Palm Profile</div>
    </div>
  </div>
	
  <div x-mojo-element="Button" id="palmProfileButton"></div>
	
  <div x-mojo-element="Button" id="manageOverridesButton"></div>
	
  <div x-mojo-element="Button" id="resetPalmProfileButton"></div>
	
  <div x-mojo-element="Button" id="getAccountInfoButton"></div>
	
  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
  <div class="palm-scrim" id="overlay">
    <div class="spinner" id="spinner" x-mojo-element="Spinner"></div>
  </div>

</div>
