<div class="app-catalog">
	
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

  <div class="palm-page-header">
    <div class="palm-page-header-wrapper">
      <div class="icon" id="icon"></div>
      <div class="spinner" id="spinner" x-mojo-element="Spinner"></div>
      <div class="title" id="title">App Catalog</div>
    </div>
  </div>
	
  <div class="palm-group">
    <div class="palm-group-title" id="app-install-title">Application Installation</div>
    <div class="palm-list">
			
      <div class="palm-row first">
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
	  <div class="title">
	    <div id="appIdInputField" x-mojo-element="TextField"></div>
	  </div>
	</div>
      </div>
      
      <div class="palm-row">
	<div class="palm-row-wrapper">
	  <div x-mojo-element="Button" id="getAppInfoButton"></div>
	</div>
      </div>
      
      <div class="palm-row">
	<div class="palm-row-wrapper">
	  <div x-mojo-element="Button" id="showAppInfoButton"></div>
	</div>
      </div>
      
      <div class="palm-row">
	<div class="palm-row-wrapper">
	  <div x-mojo-element="Button" id="installAppButton"></div>
	</div>
      </div>
	
      <div class="palm-row last">
	<div class="palm-row-wrapper">
	  <div x-mojo-element="Label" id="installStatus"></div>
	</div>
      </div>
	
    </div>
  </div>
	
  <div class="palm-group">
    <div class="palm-group-title" id="profile-info-title">Profile Information</div>
    <div class="palm-list">
			
      <div class="palm-row first">
	<div class="palm-row-wrapper">
	  <div x-mojo-element="Button" id="palmProfileButton"></div>
	</div>
      </div>
	
      <div class="palm-row">
	<div class="palm-row-wrapper">
	  <div x-mojo-element="Button" id="paidAppsButton"></div>
	</div>
      </div>
	
      <div class="palm-row">
	<div class="palm-row-wrapper">
	  <div x-mojo-element="Button" id="accessCountryButton"></div>
	</div>
      </div>
	
      <div class="palm-row">
	<div class="palm-row-wrapper">
	  <div x-mojo-element="Button" id="paymentInfoButton"></div>
	</div>
      </div>
	
      <div class="palm-row last">
	<div class="palm-row-wrapper">
	  <div x-mojo-element="Button" id="billingCountriesButton"></div>
	</div>
      </div>
    </div>
  </div>
	
  <div class="palm-group">
    <div class="palm-group-title" id="promo-codes-title">Promo Codes</div>
    <div class="palm-list">
			
      <div class="palm-row first">
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
	  <div class="title">
	    <div id="promoCodeInputField" x-mojo-element="TextField"></div>
	  </div>
	</div>
      </div>
      
      <div class="palm-row">
	<div class="palm-row-wrapper">
	  <div x-mojo-element="Button" id="getCodeInfoButton"></div>
	</div>
      </div>
      
      <div class="palm-row last">
	<div class="palm-row-wrapper">
	  <div x-mojo-element="Button" id="checkCodeStatusButton"></div>
	</div>
      </div>
      
    </div>
  </div>
	
  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
