<div class="backups">
	
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

  <div class="palm-page-header">
    <div class="palm-page-header-wrapper">
      <div class="icon" id="icon"></div>
      <div class="spinner" id="spinner" x-mojo-element="Spinner"></div>
      <div class="title" id="title">Backups</div>
    </div>
  </div>
	
  <div x-mojo-element="Button" id="palmProfileButton"></div>
	
  <div x-mojo-element="Button" id="getAuthTokenButton"></div>
	
  <div class="palm-group">
    <div class="palm-group-title" id="backup-manifests-title">Backup Manifests</div>
    <div class="palm-list">
			
      <div class="palm-row single">
	<div x-mojo-element="ListSelector" id="manifestSelector"></div>
      </div>
      
    </div>
  </div>
	
  <div x-mojo-element="Button" id="showManifestButton"></div>
	
  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
