<div class="credit-card">
	
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

  <div class="palm-page-header">
    <div class="palm-page-header-wrapper">
      <div class="icon" id="icon"></div>
      <div class="spinner" id="spinner" x-mojo-element="Spinner"></div>
      <div class="title" id="title">Credit Card</div>
    </div>
  </div>
	
  <div x-mojo-element="Button" id="palmProfileButton"></div>
	
  <div x-mojo-element="Button" id="paymentInfoButton"></div>
	
  <div x-mojo-element="Button" id="billingCountriesButton"></div>
	
  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
