<div class="application-explore">
  
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

  <div class="palm-page-header">
    <div class="palm-page-header-wrapper">
      <div class="icon" id="icon"></div>
      <div class="spinner" id="spinner" x-mojo-element="Spinner"></div>
      <div class="title" id="title">Application Exploration</div>
    </div>
  </div>
  
  <div class="palm-group">
    <div class="palm-group-title">Application Set</div>
    <div class="palm-list">
      
      <div class="palm-row single">
	<div class="palm-row-wrapper">
	  <div id="applicationSet" x-mojo-element="ListSelector"></div>
	</div>
      </div>
      
    </div>
  </div>
  
  <div class="palm-group">
    <div class="palm-group-title">Application Title</div>
    <div class="palm-list">
      
      <div class="palm-row single">
	<div class="palm-row-wrapper">
	  <div id="applicationKind" x-mojo-element="BetterListSelector"></div>
	</div>
      </div>
      
    </div>
  </div>
  
  <div x-mojo-element="Button" id="showButton"></div>
  
  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
  
</div>
