<div class="accounts">
  
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

  <div class="palm-page-header" id="header">
    <div class="palm-page-header-wrapper">
      <div class="icon" id="icon"></div>
      <div class="title" id="title">Accounts</div>
    </div>
  </div>
  
  <div class="palm-group">
    <div class="palm-group-title">Account Template</div>
    <div class="palm-list">
      
      <div class="palm-row single">
	<div class="palm-row-wrapper">
	  <div id="accountTemplates" x-mojo-element="ListSelector"></div>
	</div>
      </div>
      
    </div>
  </div>
  
  <div class="palm-group">
    <div class="palm-group-title">Account Username</div>
    <div class="palm-list">
      
      <div class="palm-row single">
	<div class="palm-row-wrapper">
	  <div id="accountNames" x-mojo-element="ListSelector"></div>
	</div>
      </div>
      
    </div>
  </div>
  
  <div x-mojo-element="Button" id="showAccountButton"></div>
  
  <div x-mojo-element="Button" id="removeAccountButton"></div>
  
  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
  
  <div class="palm-scrim" id="overlay">
    <div class="spinner" id="spinner" x-mojo-element="Spinner"></div>
  </div>

</div>
