<div id="palm-scrim" class="palm-scrim #{scrimClass}" x-mojo-popup-scrim="">
</div>


<div class="palm-popup-container palm-touch-rows-#{touchableRows} #{popupClass} better-list-selector" id="#{popupId}" x-mojo-popup-container="">

	<div class="palm-popup-wrapper">   

		<div x-mojo-scroll-fade='top' class="palm-popup-fade-top">  
			<div class="fade-background"></div>                     
			<div class="fade-arrow"></div>          
		</div>
		<div x-mojo-scroll-fade='bottom' class="palm-popup-fade-bottom">   
			<div class="fade-background"></div>                           
			<div class="fade-arrow"></div>
		</div>
		
		<div id="#{popupId}-better-submenu-filter-spinner" class="filter-spinner" x-mojo-element="Spinner"></div>
		<div class="palm-row-wrapper textfield-group focused">
			<div class="title">
				<div id="#{popupId}-better-submenu-filter-text" x-mojo-element="TextField"></div>
			</div>
		</div>

		<div class="palm-popup-content" x-mojo-element="Scroller" x-mojo-popup-content="">   

			<div class="palm-list">                       
				#{-listElements}
			</div>
			
		</div>
		
	</div>    
</div>
